<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pooa20181.iff.br.trabalho03_2018_1">

    <application
        android:name=".model.BDConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ListaOficina"
            android:label="@string/title_activity_lista_oficina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ListaMecanico"
            android:label="@string/title_activity_lista_mecanico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ItemOficina" />
        <activity android:name=".Activity.ItemMecanico" />
        <activity android:name=".Activity.OficinaDetalhe"></activity>
    </application>

</manifest>